---
import Piechart from "@/components/piechart/piechart.astro"
import Header from "@/layouts/Header.astro"
import Layout from "@layouts/Layout.astro"
---

<Layout title="Piechart">
  <Header />
  <section class="mx-auto max-w-screen-xl p-4">
    <h1 class="mb-4 text-2xl">Piechart</h1>
    <p>
      <a href="https://grafikart.fr/tutoriels/graph-pie-camembert-1965" title="Graphicart tutorial"
        >Graphicart tutorial</a>
    </p>
    <Piechart />
  </section>
</Layout>
