---
import Piechart from "@/components/piechart/piechart.astro";
import Header from "@/layouts/Header.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Piechart">
  <Header title="Piechart" />
  <main class="mx-auto max-w-screen-xl p-4">
    <p>
      <a href="https://grafikart.fr/tutoriels/graph-pie-camembert-1965" title="Grafikart tutorial"
        >Grafikart tutorial</a
      >
    </p>
    <Piechart />
  </main>
</Layout>
