---
import { render, getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import DocNav from '../../components/ui/docs/DocNav.astro';
import { Hero } from '@repo/ui/data-display';

export async function getStaticPaths() {
  const docs = await getCollection('docs');

  return docs.map((doc) => {
    return {
      params: {
        slug: doc.id
      },
      props: {
        doc
      }
    };
  });
}

const { doc } = Astro.props;

if (!doc) {
  return Astro.redirect('/404');
}

const { Content } = await render(doc);
const mainTag = doc.data.tags[0].id;
const allTags = await getCollection('tags');
const tagEntry = allTags.find((tag) => tag.id === mainTag);
const heroTitle = tagEntry?.data.title ?? mainTag;
---

<BaseLayout title={doc.data.title}>
  <Hero
    variant="ghost"
    badgeText="Documentation"
    highlight="Knowledge"
    title={heroTitle}
    description={doc.data.description ?? ''}
  />
  <div class="flex justify-center">
    <article
      class="prose prose-playground bg-surface/10 text-foreground t max-w-3xl flex-1 place-self-center rounded px-[clamp(1.5rem,3vw,2.5rem)] py-[clamp(3rem,4vw,4rem)] shadow-md backdrop-blur-xs"
    >
      <Content />
    </article>
    <DocNav />
  </div>
</BaseLayout>
