---
type Props = {
  caption?: string;
  label?: string;
  className?: string;
};
const { caption, label, className } = Astro.props;
---

<figure class={` ${className}`}>
  <div class="bg-card border-border min-w-full overflow-hidden rounded-lg border">
    <slot />
  </div>
  {
    (caption || label) && (
      <figcaption class="text-muted-foreground mt-2.5 flex items-baseline gap-1.5 font-sans text-sm">
        {label && (
          <span class="text-primary font-mono text-sm font-semibold tracking-wide uppercase">
            {label}
          </span>
        )}
        {caption && <span>{caption}</span>}
      </figcaption>
    )
  }
</figure>
