# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

SAVES
.gemini
.opencode
graphify-out


# Nix/Direnv
.direnv
result
result-*

# Astrojs and Buils
# generated types
.astro
dist
storybook-static
build

# dependencies
.pnpm-home
node_modules
.pnp
.pnp.js

# testing
coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs

# local env files
.env
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# graphify knowledge graph
graphify-out/
.opencode/
