# Ignore artifacts:
build
coverage
dist
graphify-out
storybook-static
drafts

packages/graph-viz/src/data/processes-graph.json
packages/radu-machine-learning/src/data/raw-samples
packages/radu-machine-learning/src/data/dataset/json
turbo/generators/templates
