{
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-astro",
        "prettier-plugin-tailwindcss",
        "prettier-plugin-embed",
        "prettier-plugin-glsl",
        "prettier-plugin-jsdoc"
    ],
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "singleAttributePerLine": true
}
