---
import BaseLayout from "../base-layout.astro";
import DocNav from "../../components/ui/doc-nav/index.astro";

const { doc } = Astro.props;
---

<BaseLayout title={doc.data.title}>
  <div class="flex h-full overflow-hidden">
    <DocNav />
    <div class="flex-1 overflow-y-auto">
      <div class="mx-auto max-w-3xl px-6 py-12 md:px-10 lg:py-16">
        <article class="prose prose-playground">
          <slot />
        </article>
      </div>
    </div>
  </div>
</BaseLayout>
