@import 'tailwindcss';
@import '@repo/ui/gruvbox-theme';

@source '../../node_modules/@repo/ui/src/components';

@theme {
  --color-palette-0: #4cc9f0;
  --color-palette-1: #4361ee;
  --color-palette-2: #7209b7;
  --color-palette-3: #f72585;
  --color-palette-4: #f77f00;
  --color-palette-5: #06d6a0;
  --color-palette-6: #ffd166;
  --color-palette-7: #ef476f;
  --color-palette-8: #118ab2;
  --color-palette-9: #06a77d;
  --color-palette-10: #d62246;
  --color-palette-11: #9b5de5;
  --color-palette-12: #f15bb5;
  --color-palette-13: #fee440;
  --color-palette-14: #00bbf9;
  --color-palette-15: #00f5d4;
  --color-palette-16: #e07a5f;
  --color-palette-17: #3d405b;
  --color-palette-18: #81b29a;
  --color-palette-19: #f2cc8f;
  --color-palette-20: #a8dadc;
  --color-palette-21: #457b9d;
  --color-palette-22: #e63946;
  --color-palette-23: #2a9d8f;
}

:root {
  --color-palette-0: #4cc9f0;
  --color-palette-1: #4361ee;
  --color-palette-2: #7209b7;
  --color-palette-3: #f72585;
  --color-palette-4: #f77f00;
  --color-palette-5: #06d6a0;
  --color-palette-6: #ffd166;
  --color-palette-7: #ef476f;
  --color-palette-8: #118ab2;
  --color-palette-9: #06a77d;
  --color-palette-10: #d62246;
  --color-palette-11: #9b5de5;
  --color-palette-12: #f15bb5;
  --color-palette-13: #fee440;
  --color-palette-14: #00bbf9;
  --color-palette-15: #00f5d4;
  --color-palette-16: #e07a5f;
  --color-palette-17: #3d405b;
  --color-palette-18: #81b29a;
  --color-palette-19: #f2cc8f;
  --color-palette-20: #a8dadc;
  --color-palette-21: #457b9d;
  --color-palette-22: #e63946;
  --color-palette-23: #2a9d8f;
}
