---
import Piechart from "../../../../components/data-viz/pie-chart/piechart.astro";
import BaseLayout from "../../../../layouts/base-layout.astro";
import { projects } from "../../../../data/projects";
import Hero from "../../../../components/ui/features/hero.astro";

const project = projects["pie-chart"];
const keywords = `${project["tags"].join(", ")}`;
---

<BaseLayout title={project["name"]} description={project["description"]} keywords={keywords}>
  <Hero
    badgeText={keywords}
    title={project["name"]}
    highlight={project["category"]}
    description={project["description"]}
  />
  <p>
    <a href="https://grafikart.fr/tutoriels/graph-pie-camembert-1965" title="Grafikart tutorial"
      >Grafikart tutorial</a
    >
  </p>
  <div class="min-h-full">
    <Piechart />
  </div>
</BaseLayout>
