---
import { MosaicMaker } from "@repo/mosaic-maker/MosaicMaker";
import { StrictMode } from "react";
import BaseLayout from "../../../../layouts/base-layout.astro";
import { projects } from "../../../../data/projects";
import Hero from "../../../../components/ui/features/hero.astro";

const project = projects["mosaic"];
const keywords = `${project["tags"].join(", ")}`;
---

<BaseLayout title={project["name"]} description={project["description"]} keywords={keywords}>
  <Hero
    badgeText={keywords}
    title={project["name"]}
    highlight={project["category"]}
    description={project["description"] + " TODO: FIX THE LAYOUT"}
  />
  <div class="min-h-screen">
    <StrictMode>
      <MosaicMaker client:only="react" />
    </StrictMode>
  </div>
</BaseLayout>
