---
import Layout from "@/layouts/layout.astro";

const baseUrl = import.meta.env.BASE_URL;
---

<Layout title="Mosaic">
  <article>
    <a href={`${baseUrl}mosaic/maker/`}>--&gt; Mosaic maker page</a>
  </article>
</Layout>
