---
import Mosaic from "#components/mosaic/Mosaic.tsx"
import Layout from "#layouts/Layout.astro"
---

<Layout>
  <section>
    <Mosaic tileWidth={64} tileHeight={64} client:load />
  </section>
</Layout>
