.tile {
  width: var(--tile-width);
  height: var(--tile-height);
  position: relative;
  overflow: hidden;

  transition:
    opacity 1s ease-in-out,
    background 1s ease-in-out;
}

.tile > * {
  transition:
    background 1s ease-in-out,
    background 1s ease-in-out;
}
