.tile {
  width: var(--tile-width);
  height: var(--tile-height);
  position: relative;
  overflow: hidden;

  transition:
    opacity 1s ease-in-out,
    background 1s ease-in-out,
    border 1s ease-in-out;
}

.tile > * {
  transition: background 1s ease-in-out;
}

.tile polygon {
  transition: fill 1s ease-in-out;
}
