---
type Props = {
  href: string;
};
const { href } = Astro.props;
---

<a
  href={href}
  class="group text-foreground hover:text-accent flex items-center gap-2 text-xs font-bold transition-all duration-300"
  aria-label="Playground home"
>
  <span
    class="relative flex h-2.5 w-2.5"
    aria-hidden="true"
  >
    <span
      class="group-hover:bg-accent absolute inset-0 animate-ping rounded-full bg-(--glow-color) opacity-60"
    ></span>
    <span
      class="group-hover:bg-accent relative h-2.5 w-2.5 rounded-full bg-(--glow-color) shadow-[0_0_8px_1px_var(--glow-color)] transition-all duration-300 group-hover:scale-110 group-hover:shadow-[0_0_12px_2px_var(--accent)]"
    ></span>
  </span>
  PG_LAB
</a>
