@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  --background: 0 0% 95%;
  --foreground: 0 0% 20%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 20%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 20%;
  --primary: 38 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 120 60% 40%;
  --secondary-foreground: 0 0% 100%;
  --muted: 0 0% 90%;
  --muted-foreground: 0 0% 40%;
  --accent: 38 100% 60%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 80%;
  --input: 0 0% 100%;
  --ring: 38 100% 50%;
  --chart-1: 38 100% 50%;
  --chart-2: 120 60% 40%;
  --chart-3: 0 0% 70%;
  --chart-4: 0 50% 50%;
  --chart-5: 300 100% 50%;
  --radius: 0.5rem;
}

  .dark {
  --background: 0 0% 10%;
  --foreground: 0 0% 90%;
  --card: 0 0% 15%;
  --card-foreground: 0 0% 90%;
  --popover: 0 0% 15%;
  --popover-foreground: 0 0% 90%;
  --primary: 38 100% 60%;
  --primary-foreground: 0 0% 10%;
  --secondary: 120 60% 60%;
  --secondary-foreground: 0 0% 10%;
  --muted: 0 0% 15%;
  --muted-foreground: 0 0% 70%;
  --accent: 38 100% 80%;
  --accent-foreground: 0 0% 20%;
  --destructive: 0 100% 80%;
  --destructive-foreground: 0 0% 0%;
  --border: 0 0% 30%;
  --input: 0 0% 20%;
  --ring: 38 100% 70%;
  --chart-1: 38 100% 70%;
  --chart-2: 120 60% 60%;
  --chart-3: 0 0% 30%;
  --chart-4: 0 50% 40%;
  --chart-5: 300 100% 80%;
  }
}


@layer base {
	* {
    @apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	.grid-stack {
		display: grid;
		grid-template-areas: "stack";
	}
	.grid-stack > * {
		grid-area: stack;
	}
	
	input[type="range"] {
		@apply rounded-lg bg-accent w-full appearance-none h-2 relative my-4
	}
	input[type="range"]::-webkit-slider-thumb,
	input[type="range"]::-moz-range-thumb {
		@apply h-4 w-4 rounded-full bg-primary border-none ring-2 ring-primary outline outline-2 outline-offset-0 outline-background ring-offset-2
	}
}

