---
import { cn } from "@/lib/utils";
import ThemeToggle from "@components/widgets/themeToggle.astro";

interface Props {
  title?: string;
  routes: { text: string; url: string }[];
}

const baseUrl = import.meta.env.BASE_URL;
const { title } = Astro.props;
const { routes } = Astro.props;
---

<nav class="border-gray-200 px-2 py-2 xl:px-0">
  <div class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between">
    <a href={baseUrl} class="group flex items-center gap-3 outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 2 2">
        <rect fill="#331436" x="0" y="0" width="1" height="1"></rect>
        <rect fill="#eb9961" x="1" y="0" width="1" height="1"></rect>
        <rect fill="#cb4f57" x="0" y="1" width="1" height="1"></rect>
        <rect fill="#7a1745" x="1" y="1" width="1" height="1"></rect>
      </svg>
      <h1
        class="group-focus-visible:text-prbg-primary-foreground whitespace-nowrap rounded-lg px-4 py-2 text-2xl font-semibold transition-colors group-hover:bg-primary group-hover:text-primary-foreground group-focus-visible:bg-primary group-focus-visible:text-primary-foreground"
      >
        {title ?? "Playground"}
      </h1>
    </a>

    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="focus:ring-seconary inline-flex h-8 w-8 items-center justify-center rounded-lg bg-primary text-sm text-primary-foreground shadow outline-none hover:bg-primary/80 focus:ring-4 md:hidden"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="h-5 w-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>

    <div
      class="hidden w-full flex-col font-medium md:flex md:w-auto md:flex-row md:gap-4"
      id="navbar-default"
    >
      {
        routes.map((route) => {
          const isCurrent = Astro.url.pathname === route.url;

          return (
            <a
              href={route.url}
              class={cn(
                "block rounded-lg px-4 py-2 outline-none transition-colors hover:bg-primary hover:text-primary-foreground focus-visible:bg-primary focus-visible:text-primary-foreground",
                { "bg-primary text-primary-foreground": isCurrent }
              )}
              aria-current={isCurrent ? "page" : false}
            >
              {route.text}
            </a>
          );
        })
      }
      <ThemeToggle />
    </div>
  </div>
</nav>

<script is:inline>
  const initCollapser = () => {
    const collapser = document.querySelectorAll("[data-collapse-toggle]");
    collapser.forEach((toggler) => {
      toggler.addEventListener("click", () => {
        const target = document.getElementById(toggler.getAttribute("data-collapse-toggle"));
        target.classList.toggle("hidden");
      });
    });
  };
  initCollapser();
</script>
