---
import Layout from "@/layouts/layout.astro";
import { buttonVariants } from "@/components/ui/button";

const baseUrl = import.meta.env.BASE_URL;
---

<Layout title="Sequence">
  <article class="mx-auto flex max-w-screen-xl gap-8">
    <a href={`${baseUrl}sequence/racaman/`} class={buttonVariants()}>--&gt; Racaman sequence</a>
  </article>
</Layout>
