---
import { getCollection } from 'astro:content';
import { DynamicProjectApp } from '../../components/DynamicProjectApp';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { Hero } from '@repo/ui/data-display';

export async function getStaticPaths() {
  const projects = await getCollection('projects');

  return projects.map((project) => {
    return {
      params: {
        slug: project.id
      },
      props: {
        project
      }
    };
  });
}

const { project } = Astro.props;

if (!project) {
  return Astro.redirect('/404');
}

const { title, description } = project.data;
const mainTag = project.data.tags?.[0].id || 'other';
const keywords = project.data.tags?.join(', ').slice(1) || '';
---

<BaseLayout
  title={title}
  description={description}
  keywords={keywords}
>
  <div class="h-0 min-h-screen">
    <DynamicProjectApp
      slug={project.id}
      client:only="react"
    />
  </div>
</BaseLayout>
