@layer base {
  :root {
    --background: oklch(0.888 0.059 89.012);
    --foreground: oklch(0.409 0.011 50.327);
    --card: oklch(0.953 0.056 95.604);
    --card-foreground: oklch(0.341 0.006 48.534);
    --popover: oklch(0.96 0.042 99.947);
    --popover-foreground: oklch(0.409 0.011 50.327);
    --primary: oklch(0.34 0.082 214.349);
    --primary-foreground: oklch(0.888 0.059 89.012);
    --secondary: oklch(0.42 0.11 107.44);
    --secondary-foreground: oklch(0.953 0.056 95.604);
    --muted: oklch(0.888 0.059 89.012);
    --muted-foreground: oklch(0.37 0.017 59.8);
    --accent: oklch(0.48 0.118 351.672);
    --accent-foreground: oklch(0.311 0.003 48.623);
    --destructive: oklch(0.539 0.201 28.478);
    --destructive-foreground: oklch(0.257 0.089 27.735);
    --border: oklch(0.684 0.035 76.295);
    --input: oklch(0.96 0.042 99.947);
    --ring: oklch(0.787 0.172 68.864);

    --font-sans:
      ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
      monospace;

    --radius: 0.5rem;

    --shadow-2xs: 0px 1px 2.5px 0px oklch(0.331 0.02 76.196 / 0.03);
    --shadow-xs: 0px 1px 2.5px 0px oklch(0.331 0.02 76.196 / 0.03);
    --shadow-sm:
      0px 1px 2.5px 0px oklch(0.331 0.02 76.196 / 0.06),
      0px 1px 2px -1px oklch(0.331 0.02 76.196 / 0.06);
    --shadow:
      0px 1px 2.5px 0px oklch(0.331 0.02 76.196 / 0.06),
      0px 1px 2px -1px oklch(0.331 0.02 76.196 / 0.06);
    --shadow-md:
      0px 1px 2.5px 0px oklch(0.331 0.02 76.196 / 0.06),
      0px 2px 4px -1px oklch(0.331 0.02 76.196 / 0.06);
    --shadow-lg:
      0px 1px 2.5px 0px oklch(0.331 0.02 76.196 / 0.06),
      0px 4px 6px -1px oklch(0.331 0.02 76.196 / 0.06);
    --shadow-xl:
      0px 1px 2.5px 0px oklch(0.331 0.02 76.196 / 0.06),
      0px 8px 10px -1px oklch(0.331 0.02 76.196 / 0.06);
    --shadow-2xl: 0px 1px 2.5px 0px oklch(0.331 0.02 76.196 / 0.15);

    --utility-1: oklch(0.558 0.097 167.141);
    --utility-2: oklch(0.544 0.164 313.001);
    --utility-3: oklch(0.559 0.143 38.532);
    --utility-4: oklch(0.619 0.128 237.422);
    --utility-5: oklch(0.597 0.154 81.796);
    --utility-6: oklch(0.568 0.135 130.491);
    --utility-7: oklch(0.582 0.139 18.679);
    --utility-8: oklch(0.603 0.098 275.88);

    --category-generative: var(--utility-1);
    --category-color: var(--utility-2);
    --category-image: var(--utility-3);
    --category-data-viz: var(--utility-4);
    --category-random: var(--utility-5);

    --category-tutorial: var(--utility-5);
    --category-how-to: var(--utility-6);
    --category-explanation: var(--utility-7);
    --category-reference: var(--utility-8);
  }

  html[data-theme="dark"] {
    --background: oklch(0.239 0.004 219.659);
    --foreground: oklch(0.822 0.051 84.515);
    --card: oklch(0.311 0.003 48.623);
    --card-foreground: oklch(0.953 0.056 95.604);
    --popover: oklch(0.27 0 0);
    --popover-foreground: oklch(0.822 0.051 84.515);
    --primary: oklch(0.78 0.055 169.812);
    --primary-foreground: oklch(0.239 0.004 219.659);
    --secondary: oklch(0.639 0.131 108.548);
    --secondary-foreground: oklch(0.27 0 0);
    --muted: oklch(0.341 0.006 48.534);
    --muted-foreground: oklch(0.81 0.045 81.345);
    --accent: oklch(0.73 0.12 351.672);
    --accent-foreground: oklch(0.311 0.003 48.623);
    --destructive: oklch(0.539 0.201 28.478);
    --destructive-foreground: oklch(0.239 0.004 219.659);
    --border: oklch(0.409 0.011 50.327);
    --input: oklch(0.341 0.006 48.534);
    --ring: oklch(0.862 0.135 84.271);

    --shadow-2xs: 0px 1px 2px 0px oklch(0 0 0 / 0.01);
    --shadow-xs: 0px 1px 2px 0px oklch(0 0 0 / 0.01);
    --shadow-sm: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
    --shadow: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
    --shadow-md: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 2px 4px -1px oklch(0 0 0 / 0.01);
    --shadow-lg: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 4px 6px -1px oklch(0 0 0 / 0.01);
    --shadow-xl: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 8px 10px -1px oklch(0 0 0 / 0.01);
    --shadow-2xl: 0px 1px 2px 0px oklch(0 0 0 / 0.03);

    --utility-1: oklch(0.644 0.1 168.409);
    --utility-2: oklch(0.592 0.131 313.642);
    --utility-3: oklch(0.596 0.131 38.922);
    --utility-4: oklch(0.635 0.103 233.501);
    --utility-5: oklch(0.664 0.123 80.938);
    --utility-6: oklch(0.638 0.106 130.196);
    --utility-7: oklch(0.644 0.109 19.256);
    --utility-8: oklch(0.66 0.083 276.271);

    --category-generative: var(--utility-1);
    --category-color: var(--utility-2);
    --category-image: var(--utility-3);
    --category-data-viz: var(--utility-4);
    --category-random: var(--utility-5);

    --category-tutorial: var(--utility-5);
    --category-how-to: var(--utility-6);
    --category-explanation: var(--utility-7);
    --category-reference: var(--utility-8);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --color-utility-1: var(--utility-1);
  --color-utility-2: var(--utility-2);
  --color-utility-3: var(--utility-3);
  --color-utility-4: var(--utility-4);
  --color-utility-5: var(--utility-5);
  --color-utility-6: var(--utility-6);
  --color-utility-7: var(--utility-7);
  --color-utility-8: var(--utility-8);

  --color-category-generative: var(--category-generative);
  --color-category-color: var(--category-color);
  --color-category-image: var(--category-image);
  --color-category-data-viz: var(--category-data-viz);
  --color-category-random: var(--category-random);

  --color-category-tutorial: var(--category-tutorial);
  --color-category-how-to: var(--category-how-to);
  --color-category-explanation: var(--category-explanation);
  --color-category-reference: var(--category-reference);
}

@utility prose-playground {
  --tw-prose-body: var(--foreground);
  --tw-prose-headings: var(--foreground);
  --tw-prose-lead: var(--muted-foreground);
  --tw-prose-links: var(--primary);
  --tw-prose-bold: var(--foreground);
  --tw-prose-counters: var(--muted-foreground);
  --tw-prose-bullets: var(--border);
  --tw-prose-hr: var(--border);
  --tw-prose-quotes: var(--foreground);
  --tw-prose-quote-borders: var(--primary);
  --tw-prose-captions: var(--muted-foreground);
  --tw-prose-code: var(--foreground);
  --tw-prose-pre-code: var(--foreground);
  --tw-prose-pre-bg: var(--card);
  --tw-prose-th-borders: var(--border);
  --tw-prose-td-borders: var(--border);
  --tw-prose-invert-body: var(--foreground);
  --tw-prose-invert-headings: var(--foreground);
  --tw-prose-invert-lead: var(--muted-foreground);
  --tw-prose-invert-links: var(--primary);
  --tw-prose-invert-bold: var(--foreground);
  --tw-prose-invert-counters: var(--muted-foreground);
  --tw-prose-invert-bullets: var(--border);
  --tw-prose-invert-hr: var(--border);
  --tw-prose-invert-quotes: var(--foreground);
  --tw-prose-invert-quote-borders: var(--primary);
  --tw-prose-invert-captions: var(--muted-foreground);
  --tw-prose-invert-code: var(--foreground);
  --tw-prose-invert-pre-code: var(--foreground);
  --tw-prose-invert-pre-bg: var(--card);
  --tw-prose-invert-th-borders: var(--border);
  --tw-prose-invert-td-borders: var(--border);
}
