---
import Mosaic from "#components/mosaic/Mosaic.tsx"
import Layout from "#layouts/Layout.astro"
---

<Layout>
  <section class="h-dvh w-dvw">
    <Mosaic client:load tileWidth={100} tileHeight={100} />
  </section>
</Layout>
