---
import { ImageToParticles } from "@repo/image-to-particles";
import { StrictMode } from "react";
import BaseLayout from "../../../../layouts/base-layout.astro";
import { projects } from "../../../../data/projects";
import Hero from "../../../../components/ui/features/hero.astro";

const project = projects["particles"];
const keywords = `${project["tags"].join(", ")}`;
---

<BaseLayout title={project["name"]} description={project["description"]} keywords={keywords}>
  <Hero
    badgeText={keywords}
    title={project["name"]}
    highlight={project["category"]}
    description={project["description"]}
  />

  <div class="min-h-screen">
    <StrictMode>
      <ImageToParticles client:only="react" />
    </StrictMode>
  </div>
</BaseLayout>
