---
import Piechart from "../../../../components/data-viz/piechart/piechart.astro";
import BaseLayout from "../../../../layouts/base-layout.astro";
import { projects } from "../../../../data/projects";

const title = projects["piechart"]?.name ?? "Pie Chart";
---

<BaseLayout title={title}>
  <p>
    <a href="https://grafikart.fr/tutoriels/graph-pie-camembert-1965" title="Grafikart tutorial"
      >Grafikart tutorial</a
    >
  </p>
  <Piechart />
</BaseLayout>
