---
import Piechart from "../../../components/data-viz/piechart/piechart.astro";
import BaseLayout from "../../../layouts/base-layout.astro";
---

<BaseLayout title="Pie Chart">
  <p>
    <a href="https://grafikart.fr/tutoriels/graph-pie-camembert-1965" title="Grafikart tutorial"
      >Grafikart tutorial</a
    >
  </p>
  <Piechart />
</BaseLayout>