{{! turbo/generators/templates/project-page.astro.hbs }}
---
import { getEntry } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { App as ProjectApp } from '@repo/{{packageDir}}/{{packageDir}}';

const project = await getEntry('projects', '{{id}}');
if (!project) return Astro.redirect('/404');

const { title, description } = project.data;
const keywords = project.data.tags?.join(', ').slice(1) || '';
---

<BaseLayout title={title} description={description} keywords={keywords}>
  <div class="h-0 min-h-screen">
    <ProjectApp client:only="react" />
  </div>
</BaseLayout>
