---
import BaseLayout from "../../layouts/base-layout.astro";
import { baseUrl } from "../../constants/routes";

const graphUrl = `${baseUrl}/graph.html`;
---

<BaseLayout title="Knowledge Graph">
  <div class="flex-1 w-full overflow-hidden">
    <iframe
      src={graphUrl}
      class="w-full h-full border-0"
      title="Knowledge Graph"
    />
  </div>
</BaseLayout>
