---
import { App } from '@repo/automa';
import { StrictMode } from 'react';
import BaseLayout from '../../../../layouts/BaseLayout.astro';
import { projects } from '../../../../data/projects';
import Hero from '../../../../components/ui/features/Hero.astro';

const project = projects['automa'];
const keywords = `${project['tags'].join(', ')}`;
---

<BaseLayout
  title={project['name']}
  description={project['description']}
  keywords={keywords}
>
  <Hero
    badgeText={keywords}
    title={project['name']}
    highlight={project['category']}
    description={project['description']}
  />

  <div class="min-h-screen">
    <StrictMode>
      <App
        rows={150}
        cols={150}
        seed={42}
        client:only="react"
      />
    </StrictMode>
  </div>
</BaseLayout>
