details::details-content {
  block-size: auto;
  interpolate-size: allow-keywords;
  transition:
    block-size 0.3s ease,
    content-visibility 0.3s ease allow-discrete;
  overflow: hidden;
}

details:not([open])::details-content {
  block-size: 0;
}
