@import '@repo/ui/gruvbox-theme';

:root {
    --color-background: var(--background);
    --color-text: var(--foreground);
    --color-text-aside: var(--foreground-muted);
    --color-link: var(--primary);
    --color-accent: var(--accent);
    --font-family: var(--font-sans);
}

pre,
code {
    font-family: var(--font-mono) !important;
}

.tsd-page-title,
.tsd-panel {
    background-color: var(--surface) !important;
    border-color: var(--border) !important;
}
