---
import { getEntry } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { App } from '@repo/sequence-renderer/sequence-renderer';

const project = await getEntry('projects', 'sequences');
if (!project) return Astro.redirect('/404');

const { title, description } = project.data;
const keywords = project.data.tags?.join(', ').slice(1) || '';
---

<BaseLayout
  title={title}
  description={description}
  keywords={keywords}
>
  <div class="h-0 min-h-screen">
    <App client:only="react" />
  </div>
</BaseLayout>
