---
import { ColorWheel } from "@/components/color-wheel/color-wheel";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Color wheel">
  <main class="px-4 pb-4">
  <ColorWheel client:idle />
</main>
</Layout>
